
.avatar{
    width: 75px;
    // margin: 20px auto;
}

.pet-header{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 90%;
    margin: 0 auto;
    // outline: 1px solid orange;
}

.heading{
    font-size: 20px;
    margin: 0;
    // outline: 1px solid green;
    // padding-top: 20px;
}

.pet-info-box{
    display: flex;

    .panel{
        width: 50%;
        margin: 0px 10px;

        .panel-info{
            padding: 0px 25px;
        }
    }
}

// PET PROFILE IMAGE

.profile-img-container {
    // outline: 1px solid red;
}

.profile-img-container:hover {
    cursor: pointer;
}

// VACCINE IMAGE

.vaccine-img-container {
    width: 90%;
    margin: .5rem auto;
}

.vaccine-img {
    width: 100%;
    border: 1px solid lightblue;
    border-radius: .5rem;
}