.upload-form {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.upload-label {
  font-size: 1.2rem;
}
.upload-input {
  margin: 5px 0;
  font-size: .75rem;
}
.submit-button {
  font-size: .75rem;
  height: 26px;
  width: 77px;
}
