#Upcoming-Appointments {
   display: flex; 
   justify-content: center;
   background-color: white;
   border: solid;
   height: 30vh;
   margin-right: 3%;
   margin-bottom: 3%;
}

#My-Pets {
   display: flex; 
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   background-color: white;
   border: solid;
   height: 30vh;
   margin-right: 3%;
   margin-bottom: 3%;
}

#Pets {
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
   width: 100%;
}

.pets-img {
   width: 50px;
}

#Favorite-Groomers {
   display: flex; 
   justify-content: center;
   background-color: white;
   border: solid;
   height: 30vh;
   margin-right: 3%;
   margin-bottom: 3%;
}

h1 {
   text-align: center;
}